<div class="flex items-center justify-between mb-10">
    <h1 class="text-5xl font-bold text-gray-900">Calendar</h1>
</div>
<div class="w-full flex items-cente justify-between">
    <div>
        <h4 class="text-xs xl:text-base text-custom-1"><%= @date %></h4>
    </div>
    <div class="md:flex justify-center hidden w-1/2">
        <div class="flex items-center">
            <svg class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-left" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#353F47" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <polyline points="15 6 9 12 15 18" />
            </svg>
            <svg class="cursor-pointer ml-20" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-right" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#353F47" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <polyline points="9 6 15 12 9 18" />
            </svg>
        </div>
    </div>
    <%= render :partial => "links" %>
</div>
<div class="w-full overflow-x-scroll xl:overflow-x-hidden mt-4 ">
    <table class="min-w-full  bg-slate-700">
        <thead class="items-center">
            <tr class="h-20">
                <% @all_week.each do |day| %>

                    <th class="border-r border-gray-300 px-10 <%= 'bg-custom-orange' if day.wday == @date_obj.wday %>">
                        <div class="flex flex-col items-center">
                            <p class="text-lg text-custom-3 uppercase cursor-pointer"><%= day.day %></p>
                            <p class="text-xs text-custom-3 uppercase cursor-pointer"><%= day_of_week(day.wday) %></p>
                        </div>
                    </th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% 10.times do %>
            <tr class="relative">
                <td class="border-r border-gray-300 h-20 <%= 'bg-custom-orange' if 1 == @date_obj.wday %>"></td>
                <td class="border-r relative xl:static border-gray-300 h-20 <%= 'bg-custom-orange' if 2 == @date_obj.wday %>">
                    <% if false %>
                    <div class="absolute w-56 xl:w-1/5 ml-3 -mt-10 flex items-center bg-custom-gray border-custom-green py-1">
                        <div class="ml-1">
                            <p class="text-xs">4 Sept – 5 Sept</p>
                            <p class="text-xs text-orange mt-0.5">Vacation</p>
                        </div>
                    </div>
                    <% end %>
                </td>
                <td class="border-r border-gray-300 h-20 <%= 'bg-custom-orange' if 3 == @date_obj.wday %>"></td>
                <td class="border-r border-gray-300 h-20 <%= 'bg-custom-orange' if 4 == @date_obj.wday %>"></td>
                <td class="border-r border-gray-300 h-20 <%= 'bg-custom-orange' if 5 == @date_obj.wday %>"></td>
                <td class="border-r border-gray-300 h-20 <%= 'bg-custom-orange' if 6 == @date_obj.wday %>"></td>
                <td class="border-r border-gray-300 h-20 <%= 'bg-custom-orange' if 0 == @date_obj.wday %>"></td>
            </tr>
            <% end %>

                    <% if false %>
                    <div class="flex items-center -mt-6 absolute ml-4">
                        <div class="w-3 h-3 bg-custom-yellow rounded"></div>
                        <div class="ml-2">
                            <p class="text-xs">13:00 - 14:40</p>
                            <p class="text-xs text-orange mt-1">Doctor’s</p>
                        </div>
                    </div>
                    <% end %>
        </tbody>
    </table>
</div>