<div data-controller='user' class="relative overflow-x-auto shadow-md sm:rounded-lg">

            <table class="w-full text-sm text-left text-gray-500 text-gray-400">
                <thead class="text-xs text-white uppercase bg-gray-50 bg-gray-700 text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Requested
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Accepted
                        </th>
                        <th scope="col" class="px-6 py-3 text-center">
                            Message
                        </th>
                        <th scope="col" class="px-6 py-3 text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <% @requested_users.each do |trainor| %>

                    <tr class="border-b bg-gray-800  border-gray-700 hover:bg-gray-50 hover:bg-gray-600">
                        <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap text-white">
                            <div class="flex items-center">
                            <% if trainor.user.online?  %>
                                <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> 
                            <% else %>
                                <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div>
                            <% end %>
                            
                                <img class="w-10 h-10 rounded-full" src="https://randomuser.me/api/portraits/<%= ['men', 'women'].sample %>/<%= (0..98).to_a.sample %>.jpg" alt="Jese image">
                                <div class="pl-3">
                                    <div class="text-base font-semibold text-white"><%= trainor.user.name %></div>
                                </div>  
                            </div>
                        </th>
                        <td class="px-6 py-4 text-white">
                            <div style="display: inline-flex;">
                                <%= trainor.created_at.strftime("%m/%d/%Y") %>
                            </div>
                        </td>
                        <td class="px-6 py-4 flex justify-center">
                            <% if trainor.accepted %>
                                <%= render :template => "icons/checkmark" %>
                            <% elsif trainor.accepted.nil? %>
                                <i data-tooltip-target="tooltip-dark" class="fa-solid fa-clock text-orange-700"></i>
                                <div id="tooltip-dark" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                   Pending
                                    <div class="tooltip-arrow" data-popper-arrow></div>
                                </div>
                            <% end %>
                        </td>
                        <td class="px-6 py-4 text-center">
                            <button type="button" class="text-blue-600 bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700" style="    font-size: 21px;">
                               <i class="fa-solid fa-comments"></i>
                           </button>
                       </div>
                        </td>
                        <td class="px-6 py-4 text-center">
                            <% if !trainor.accepted %>
                                <button data-action='click -> user#preAcceptUser' data-url='<%= accept_user_user_path(trainor.user_id) %>' type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Accept User</button>
                            <% else %>
                                <%  if trainor.program.nil? %>
                                    <%= link_to new_trainor_user_program_path(trainor.user_id), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" do %>
                                    Build
                                    <% end %>
                                <% else %>
                                    <%= link_to trainor_program_path(1), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" do %>
                                        Build
                                    <% end %>
                                <% end %>
                            <% end %>
                        </td>
                        
                    </tr>
                    <% end %>
                </tbody>
            </table>

</div>