<%= turbo_stream_from "rooms" %>
<%= turbo_stream_from @room %>
<div class="flex h-screen antialiased text-gray-800">
    <div class="flex flex-row h-full w-full overflow-x-hidden">
      <div class="flex flex-col py-8 pl-6 pr-2 w-64  flex-shrink-0 bg-gray-700 text-white">
        <div class="flex flex-row items-center justify-center h-12 w-full">
          <div
            class="flex items-center justify-center rounded-2xl text-indigo-700 bg-indigo-100 h-10 w-10"
          >
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"
              ></path>
            </svg>
          </div>
          <div class="ml-2 font-bold text-2xl">ForstChat</div><br>
          
        </div>
        <div class="text-sm font-semibold mt-2">Logged in as <%= current_user.name %></div>
        <div
          class="flex flex-col items-center bg-slate-300 border border-gray-200 mt-4 w-full py-6 px-4 rounded-lg"
        >
          <div class="h-20 w-20 rounded-full border overflow-hidden">
            <img
              src="https://avatars3.githubusercontent.com/u/2763884?s=128"
              alt="Avatar"
              class="h-full w-full"
            />
          </div>
          <% unless @talking_to.nil?%>
          <div class="text-sm font-semibold mt-2"><%= @talking_to.name  unless @talking_to.nil? %></div>
          <div class="text-xs text-gray-500"><%= @talking_to.is_trainor ? "Personal Trainor" : "" unless @talking_to.nil? %></div>
          <% end %>
        </div>
        <div class="flex flex-col mt-8">
          <div class="flex flex-row items-center justify-between text-xs">
            <span class="font-bold">Active Conversations</span>
            <span
              class="flex items-center justify-center bg-gray-300 h-4 w-4 rounded-full"
              ><%= @rooms.count %></span
            >
          </div>
          <div class="flex flex-col space-y-1 mt-4 -mx-2 h-48 overflow-y-auto">

            <%= render @rooms %>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-auto  bg-gray-700  ">
      
        <% if @user_connection.nil? && !@talking_to.nil?%>
          <ul id='messageUtils' class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 border-gray-700 text-gray-400">
          <%  unless @room.nil?%> 
              <li class="mr-2">
                <%= button_to room_path(@room), method: :delete, class: "inline-block text-white p-4 rounded-t-lg hover:text-gray-600" do %>
                  Remove Chat
                <% end %>
              </li>
              <% unless current_user.is_trainor %>
              <li id='requestTrainorButton' class="mr-2" data-controller='user'>
                  <button data-action="click -> user#request" data-url="<%= user_request_trainor_path(@talking_to)%>" class = "inline-block text-white p-4 rounded-t-lg hover:text-gray-600">
                    Request <%= @talking_to.fname %>'s Program
                  </button>
              </li>
            <% end %>
         
         <% end %>
        </ul>
      <% elsif @user_connection.try(:pending?) %>
          <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert" style="border: solid 2px;">
              <span class="font-medium">Just waiting for trainor to accept</span> 
         </div>
      <% end %>
        <div data-controller='messanger_board' class="flex flex-col flex-auto flex-shrink-0 bg-gray-700  p-4">
<!--           <button data-action='click -> messanger_board#message_utils' class="text-white">
            <small>Extra Options</small>
          </svg>
          </button> -->
          <div id='message-container' class="flex flex-col h-full overflow-x-auto mb-10" data-controller='messanger_board'>
            <div class="flex flex-col h-full">
              <div id="messages">
                <% @messages.each do |message | %>
                      <%= render message %>
                <% end unless @messages.nil? %>
              </div>
            </div>
            <%= render partial: 'messages/message_bar' %>
          </div>

          
        </div>
      </div>
    </div>
  </div>