<div class="flex justify-end bg-slate-400 fixed w-full z-40">
        <div class="flex justify-start grow p-5 items-center">
        <h4 class="text-xl font-extrabold ">FrostByte</h4>
    </div>
        <ul class="flex">
            <li class="flex justify-start mb-6">
                <%= link_to root_path, class: "#{navigation_setter == "kanboard_workouts" ? 'bg-slate-500  text-gray-300' : 'text-gray-600'} mt-2 rounded-md  flex flex-col justify-center items-center w-20 h-20 p-4" do %>
                
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-kanban" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <line x1="4" y1="4" x2="10" y2="4" />
                        <line x1="14" y1="4" x2="20" y2="4" />
                        <rect x="4" y="8" width="6" height="12" rx="2" />
                        <rect x="14" y="8" width="6" height="6" rx="2" />
                    </svg>
                    <p class="mt-1 uppercase font-semibold text-xs">Home</p>
                <% end %>
            </li>
            <% if @roles.include?('personal_trainor') %>
            <li class="flex justify-start mb-6">
                <%= link_to user_programs_path(current_user), class: "#{navigation_setter.include?("programs") ? 'bg-slate-500  text-gray-300' : 'text-gray-600'} mt-2 rounded-md  flex flex-col justify-center items-center w-20 h-20 p-4" do %>
                
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                    </svg>

                    <p class="mt-1 uppercase font-semibold text-xs">Programs</p>
                <% end %>
            </li>
            <% end %>
        </ul>
        <ul class="flex">
            <%  if @roles.include?('personal_trainor')  %>
            <li class="flex justify-end mb-6">

                <%= link_to user_workouts_path(current_user), class: "#{navigation_setter == "index_workouts"  ? 'bg-slate-500 text-gray-300' : 'text-gray-600'} mt-2 rounded-md  flex flex-col justify-center items-center w-20 h-20 p-4" do %>
                
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-inbox" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <rect x="4" y="4" width="16" height="16" rx="2" />
                        <path d="M4 13h3l3 3h4l3 -3h3" />
                    </svg>
                    <p class="mt-1 uppercase font-semibold text-xs">Workouts</p>
                <% end %>
            </li>
            <% end %>
            <%  if @roles.include?('personal_trainor') %>
            <li class="flex justify-start mb-6">
                <%= link_to user_exercises_path(current_user), class: "#{navigation_setter == "index_exercises"  ? 'bg-slate-500 text-gray-300' : 'text-gray-600'} mt-2 rounded-md  flex flex-col justify-center items-center w-20 h-20 p-4"  do %>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-notebook" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18" />
                        <line x1="13" y1="8" x2="15" y2="8" />
                        <line x1="13" y1="12" x2="15" y2="12" />
                    </svg>
                    <p class="mt-1 uppercase font-semibold text-xs">Exercises</p>
                <% end %>
            </li>
            <% end %>
            <li class="flex justify-end mb-6">
                <%= link_to calendar_index_path, class: "#{navigation_setter == "index_calendar"  ? 'bg-slate-500 text-gray-300' : 'text-gray-600'} mt-2 rounded-md  flex flex-col justify-center items-center w-20 h-20 p-4"  do %>
                
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-event" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <rect x="4" y="5" width="16" height="16" rx="2" />
                        <line x1="16" y1="3" x2="16" y2="7" />
                        <line x1="8" y1="3" x2="8" y2="7" />
                        <line x1="4" y1="11" x2="20" y2="11" />
                        <rect x="8" y="15" width="2" height="2" />
                    </svg>
                    <p class="mt-1 uppercase font-semibold text-xs">calendar</p>
               <% end %>
            </li>
            <li class="flex justify-end mb-6">
                <div class="mt-2 rounded-md  flex flex-col justify-center items-center w-20 h-20 p-4" data-dropdown-toggle="dropdown" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                </svg>
                      <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <%= button_to destroy_user_session_path, :class => "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white", method: :delete do %>
                Sign out
              <% end %>
            </li>
          </ul>
    </div>
            </div>

            </li>
        </ul>
</div>